@font-face {
    font-family: 'AurulentSans-Regular';
    src: url(fonts/AurulentSans-Regular.otf);
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(fonts/KaushanScript-Regular.otf);
}
