body{
	font-family: arial;
	font-size: 14px;
	padding: 0;
	background: #010E21;
	color: #fff;
	margin:0px;
	text-shadow: 1px 2px 1px #000; 
}
label{
	font-size: 18pt;
}
.border{
	padding:10px auto;
	width:320px;
	padding :3px;
	background:transparent;
	margin: 130px auto 0px auto;
}

.logo{
	width : 150px;
	height : 150px;
	margin : 5px 90px;
	
}

.FLogin{
	margin: 0px;
	padding: 0px;
}
.textlogin{
	margin:2px;
	padding: 5px 5px 5px 10px;
	height: 40px;
	width: 290px;
	color: #999999;
	font-size: 16px;
	border: solid 1px #A9A9A9;
	background: -webkit-linear-gradient(#FAFAFA,#FFFFFF);
	box-shadow:inset 0px 1px 2px rgba(0,0,0,0.2),0px 1px 0px rgba(0,0,0,0.5);
	border-radius:2px;
}
.textlogin:active,
.textlogin:focus{
	-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
}

.btn,.btn-mrh{
	margin-right:  10px;
	padding: 10px;
	padding-bottom: 10px;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	height: 40px;
	background:#dedede;	
	font-size: 14px;
	cursor: pointer;
	color:#1C1C1C;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,0.6),0px 2px 0px rgba(0,0,0,0.5);
}
.btn:hover{
	background:#0072e0;
	border:1px solid #0040a0;
}
.btn:active,
.btn:focus{
	background:#0040a0;
}
.btn-mrh:hover{
	background:#EE3A3A;
	border:1px solid #B92E2E;
}
.btn-mrh:active,
.btn-mrh:focus{
	background:#B92E2E;
}
.btn:hover,
.btn-mrh:hover{
	color: #ffffff;
	text-shadow: 0px 2px 1px #000;
	-webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
 }
.btn:active,
.btn-mrh:active{
	-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
}

